﻿@*Скрипты с кодом приложения*@
@section scripts {

<link rel="stylesheet" href="~/Content/ol.css" type="text/css">

<script src="~/Scripts/ol.js"></script>

<script src="~/Scripts/biz/applications/map/app.js"></script>
<script src="~/Scripts/biz/applications/map/services.js"></script>

<script src="~/Scripts/biz/applications/map/controllers/map-controller.js"></script>

}

@{
    ViewBag.Title = "СТЕРХ 1.0";
    Layout = "~/Views/Shared/_LayoutBiz.cshtml";
}

@section header {
}

@section pageHeader {
}

@section footer {
}


