﻿@{
    Layout = null;
}

<div class="panel panel-default">
    @* Панель управления*@
    <div class="monitor-control">
        <div class="btn-group">
            <button class="btn btn-default" data-ng-disabled="lastMonitorData && lastMonitorData.mode != 0" data-ng-if="manualGuidanceStage == 0" data-ng-click="startManualGuidance()" title="Ручное наведение по точке">Наведение по точке</button>
            <button class="btn btn-default" data-ng-disabled="lastMonitorData && lastMonitorData.mode != 0" data-ng-if="manualGuidanceStage == 0" data-ng-click="startManualGuidanceByAngles()" title="Ручное наведение по азимуту и углу места">Наведение по углам</button>
            <button class="btn btn-danger" data-ng-if="manualGuidanceStage != 0" data-ng-click="stopManualGuidance()" title="Отмена ручного наведения">Отмена</button>
            <button class="btn btn-default" data-ng-if="!editFSettingsMode" data-ng-click="openFlightSettingsDialog()" title="Настройки параметров полета">Параметры...</button>

            <button class="btn btn-success" data-ng-if="follow" data-ng-click="switchFollow()" title="Следовать за объектом">Следовать за объектом [ДА]</button>
            <button class="btn btn-default" data-ng-if="!follow" data-ng-click="switchFollow()" title="Не следовать за объектом">Следовать за объектом [НЕТ]</button>
        </div>
    </div>



    @* Пользовательский диалог: "Параметры базовой станции"*@
    <div class="monitor-dialog" data-ng-if="editFSettingsMode == 1">
        <div class="dialog-header">
            Параметры базовой станции
        </div>
        <div class="dialog-body">
            <table>
                <tr>
                    <th>
                        <span>Давление, Па</span>
                    </th>
                    <td>
                        <input type="number" data-ng-model="fsettings.pressure" class="form-control" style="width:100%; text-align: right" title="Давление" />
                    </td>
                </tr>
                <tr>
                    <th>
                        <span>Широта, °</span>
                    </th>
                    <td>
                        <input type="number" data-ng-model="fsettings.lat" class="form-control" style="width:100%; text-align: right" title="Широта" />
                    </td>
                </tr>
                <tr>
                    <th>
                        <span>Долгота, °</span>
                    </th>
                    <td>
                        <input type="number" data-ng-model="fsettings.lon" class="form-control" style="width:100%; text-align: right" title="Долгота" />
                    </td>
                </tr>
                <tr>
                    <th>
                        <span>Высота, м</span>
                    </th>
                    <td>
                        <input type="number" data-ng-model="fsettings.height" class="form-control" style="width:100%; text-align: right" title="Высота" />
                    </td>
                </tr>
                <tr>
                    <th>
                        <span>Смещение по азимуту, °</span>
                    </th>
                    <td>
                        <input type="number" data-ng-model="fsettings.azimuthOffset" class="form-control" style="width:100%; text-align: right" title="Смещение по азимуту" />
                    </td>
                </tr>
                <tr>
                    <th>
                        <span>Смещение по углу места, °</span>
                    </th>
                    <td>
                        <input type="number" data-ng-model="fsettings.placeAngleOffset" class="form-control" style="width:100%; text-align: right" title="Смещение по углу места" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="dialog-footer">
            <button class="btn btn-default" data-ng-click="saveFlightSettings()">Сохранить настройки</button>
            <button class="btn btn-danger" data-ng-click="closeFlightSettingsDialog()">Отмена</button>
        </div>
    </div>




    @* Пользовательский диалог: "Наведение по азимуту и углу места" (Наведение: шаг 2)*@
    @* (шаг 1 - выбор точки на карте)*@
    <div class="monitor-dialog" data-ng-if="manualGuidanceStage == 2">
        <div class="dialog-header">
            Предполагаемое местоположение и угол места
        </div>
        <div class="dialog-body">
            <table>
                <tr>
                    <th>
                        <span>Широта</span>
                    </th>
                    <td>
                        <input type="number" data-ng-model="guidance.lat" class="form-control" style="width:100%; text-align: right" title="Широта" />
                    </td>
                </tr>
                <tr>
                    <th>
                        <span>Долгота</span>
                    </th>
                    <td>
                        <input type="number" data-ng-model="guidance.lon" class="form-control" style="width:100%; text-align: right" title="Долгота" />
                    </td>
                </tr>
                <tr>
                    <th>
                        <span>Угол места</span>
                    </th>
                    <td>
                        <input type="number" data-ng-model="guidance.placeAngle" class="form-control" style="width:100%; text-align: right" title="Угол места для ручного наведения" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="dialog-footer">
            <button class="btn btn-default" data-ng-click="calculateGuidanceEnvironment()">Вычислить параметры наведения</button>
            <button class="btn btn-danger" data-ng-click="stopManualGuidance()">Отмена</button>
        </div>
    </div>
    @* Пользовательский диалог: "Параметры наведения по азимуту и углу места" (Наведение: шаг 3)*@
    <div class="monitor-dialog" data-ng-if="manualGuidanceStage == 3">
        <div class="dialog-header">
            Параметры для наведения антенны
        </div>
        <div class="dialog-body">
            <table>
                <tr>
                    <th>
                        <span>Широта</span>
                    </th>
                    <td>
                        <span>{{guidance.lat.toFixed(4)}}°</span>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span>Долгота</span>
                    </th>
                    <td>
                        <span>{{guidance.lon.toFixed(4)}}°</span>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span>Азимут</span>
                    </th>
                    <td>
                        <span>{{guidance.azimuth.toFixed(4)}}°</span>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span>Угол места</span>
                    </th>
                    <td>
                        <span>{{guidance.placeAngle.toFixed(4)}}°</span>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span>Расстояние</span>
                    </th>
                    <td>
                        <span>{{guidance.distance.toFixed(4)}} км</span>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span>Высота</span>
                    </th>
                    <td>
                        <span>{{guidance.height.toFixed(4)}} м</span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="dialog-footer">
            <button class="btn btn-default" data-ng-click="doManualGuidance()">Выполнить наведение</button>
            <button class="btn btn-danger" data-ng-click="stopManualGuidance()">Отмена</button>
        </div>
    </div>
    @* Пользовательский диалог: "Ручное наведение антенны" (Наведение: шаг 4)*@
    <div class="monitor-dialog" data-ng-if="manualGuidanceStage == 4">
        <div class="dialog-header">
            Ручное наведение антенны
            <div class="btn-group pull-right">
                <button class="btn btn-warning glyphicon glyphicon-edit" data-ng-click="guidance.editAngles = !guidance.editAngles"></button>
            </div>
        </div>
        <div class="dialog-body">
            <table>
                <tr>
                    <th>
                        <span>Азимут</span>
                    </th>
                    <td>
                        <input data-ng-if="guidance.editAngles" type="number" data-ng-model="guidance.azimuth" class="form-control" style="width:100%; text-align: right" title="Азимут" />
                        <span data-ng-if="!guidance.editAngles">{{guidance.azimuth.toFixed(4)}}°</span>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span>Угол места</span>
                    </th>
                    <td>
                        <input data-ng-if="guidance.editAngles" type="number" data-ng-model="guidance.placeAngle" class="form-control" style="width:100%; text-align: right" title="Угол места" />
                        <span data-ng-if="!guidance.editAngles">{{guidance.placeAngle.toFixed(4)}}°</span>
                    </td>
                </tr>
                <tr data-ng-if="!guidance.editAngles && lastMonitorData.resultsByLocation">
                    <th>
                        <span>Поправки</span>
                    </th>
                    <td>
                        (<span>{{(guidance.azimuth - lastMonitorData.resultsByLocation.azimuth).toFixed(4)}}°</span>,
                        <span>{{(guidance.placeAngle - lastMonitorData.resultsByLocation.placeAngle).toFixed(4)}}°</span>)
                        <button class="btn btn-success btn-xs" data-ng-click="applyAnglesOffset(guidance.azimuth - lastMonitorData.resultsByLocation.azimuth, guidance.placeAngle - lastMonitorData.resultsByLocation.placeAngle)">Принять</button>
                    </td>
                </tr>
                <tr data-ng-if="!guidance.editAngles">
                    <th>
                        <span>Точность наведения (шаг)</span>
                    </th>
                    <td>
                        <input type="number" step="0.1" min="0.1" max="1.0" onkeydown="return false" data-ng-model="guidance.precision" class="form-control" style="width:100%; text-align: right" title="Точность наведения" />
                    </td>
                </tr>
                <tr style="height:25px;"><td colspan="2"></td></tr>
                <tr data-ng-if="guidance.editAngles">
                    <td colspan="2" style="text-align:center">
                        <button class="btn btn-success" data-ng-click="doManualGuidanceAndTune()" style="margin:auto;">Выполнить наведение</button>
                    </td>
                </tr>
                <tr data-ng-if="!guidance.editAngles">
                    <td colspan="2" style="text-align:center">
                        <button class="btn btn-default glyphicon glyphicon-arrow-up" data-ng-click="moveUp()" style="width:100px; margin:auto;"></button>
                    </td>
                </tr>
                <tr data-ng-if="!guidance.editAngles">
                    <td style="text-align:right; width:50%">
                        <button class="btn btn-default glyphicon glyphicon-arrow-left" data-ng-click=" moveLeft()" style="width:100px; margin:auto;"></button>
                    </td>
                    <td style="text-align:left; width:50%">
                        <button class="btn btn-default glyphicon glyphicon-arrow-right" data-ng-click=" moveRight()" style="width:100px; margin:auto;"></button>
                    </td>
                </tr>
                <tr data-ng-if="!guidance.editAngles">
                    <td colspan="2" style="text-align:center">
                        <button class="btn btn-default glyphicon glyphicon-arrow-down" data-ng-click=" moveDown()" style="width:100px; margin:auto;"></button>
                    </td>
                </tr>
                <tr style="height:25px;"><td colspan="2"></td></tr>
                <tr data-ng-if="!guidance.editAngles">
                    <td colspan="2" style="text-align:center">
                        <button class="btn btn-info" data-ng-click="startSearching()" style="margin:auto;">Выполнить поиск и подстройку...</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="dialog-footer">
            <button class="btn btn-default" data-ng-click="stopManualGuidance()">Завершить ручное наведение</button>
            <button class="btn btn-danger" data-ng-click="breakManualGuidance()">Отбой</button>
        </div>
    </div>







    @* Основная информационная панель (вертикальная слева)*@
    <div class="monitor-data">
        @* Режим работы*@
        <div data-ng-if="dataWarning">
            <span class="monitor-value alert-danger text-center">
                НОВЫЕ ДАННЫЕ НЕ ПОСТУПАЮТ!
            </span>
        </div>
        <span class="monitor-value">
            Режим:
            <span class="badge clickable attention" data-ng-click="switchMode()" data-ng-if="lastMonitorData.mode != -1 && manualGuidanceStage == 0">{{lastMonitorData.modeName}}</span>
            <span class="badge" data-ng-if="lastMonitorData.mode == -1">Переключение...</span>
            <span class="badge attention-warning" data-ng-if="manualGuidanceStage != 0">Ручное наведение...</span>
        </span>
        <span class="monitor-value">
            Время: <span class="badge">{{lastMonitorData.timeString}}</span>
        </span>



        @* Данные по сигналу*@
        <h1 data-ng-click="toggleBlock('PPM')">Данные ППМ</h1>
        <div data-ng-if="lastMonitorData.signal && isVisibleBlock('PPM')">
            <span class="monitor-value">
                Сигнал: <span class="badge">{{lastMonitorData.signal.dBm.toFixed(4)}} dBm</span>
            </span>
        </div>
        <div data-ng-if="!lastMonitorData.signal">
            <span class="monitor-value alert-danger text-center">
                ДАННЫХ НЕТ!
            </span>
        </div>

        @* Данные телеметрии*@
        <h1 data-ng-click="toggleBlock('BT')">Данные БТ</h1>
        <div data-ng-if="lastMonitorData.location && isVisibleBlock('BT')">
            <span class="monitor-value">
                Широта: <span class="badge" data-ng-class="{'attention' : lastMonitorData.location.isApproximated}">{{lastMonitorData.location.lat.toFixed(4)}}°</span>
            </span>
            <span class="monitor-value">
                Долгота: <span class="badge" data-ng-class="{'attention' : lastMonitorData.location.isApproximated}">{{lastMonitorData.location.lon.toFixed(4)}}°</span>
            </span>
            <span class="monitor-value">
                Давление: <span class="badge" data-ng-class="{'attention' : lastMonitorData.location.isApproximated}">{{lastMonitorData.location.pressure.toFixed(4)}} Па</span>
            </span>
            <hr />
            <div data-ng-if="lastMonitorData.resultsByLocation">
                <span class="monitor-value">
                    Азимут: <span class="badge" data-ng-class="{'attention' : lastMonitorData.location.isApproximated}">{{lastMonitorData.resultsByLocation.azimuth.toFixed(4)}}°</span>
                </span>
                <span class="monitor-value">
                    Элевация: <span class="badge" data-ng-class="{'attention' : lastMonitorData.location.isApproximated}">{{lastMonitorData.resultsByLocation.placeAngle.toFixed(4)}}°</span>
                </span>
                <span class="monitor-value">
                    Высота: <span class="badge" data-ng-class="{'attention' : lastMonitorData.location.isApproximated}">{{lastMonitorData.resultsByLocation.height.toFixed(4)}} м</span>
                </span>
                <span class="monitor-value">
                    Расстояние: <span class="badge" data-ng-class="{'attention' : lastMonitorData.location.isApproximated}">{{lastMonitorData.resultsByLocation.distance.toFixed(4)}} км</span>
                </span>
                <span class="monitor-value">
                    Сигнал: <span class="badge" data-ng-class="{'attention' : lastMonitorData.location.isApproximated}">{{lastMonitorData.resultsByLocation.dBm.toFixed(4)}} dBm</span>
                </span>
            </div>
        </div>
        <div data-ng-if="!lastMonitorData.location">
            <span class="monitor-value alert-danger text-center">
                ДАННЫХ НЕТ!
            </span>
            <span data-ng-if="lastMonitorData.signal && lastMonitorData.angles" class="monitor-value alert-warning text-center">
                КООРДИНТЫ ОБЪЕКТА РАССЧИТАНЫ ПО ДАННЫМ БУА И ППМ!
            </span>
        </div>

        @* Данные БУА*@
        <h1 data-ng-click="toggleBlock('BUA')">Данные БУА</h1>
        <div data-ng-if="lastMonitorData.angles && isVisibleBlock('BUA')">
            <span class="monitor-value">
                Азимут: <span class="badge" data-ng-class="{'attention' : manualGuidanceStage == 4}">{{lastMonitorData.angles.azimuth.toFixed(4)}}°</span>
            </span>
            <span class="monitor-value">
                Элевация: <span class="badge" data-ng-class="{'attention' : manualGuidanceStage == 4}">{{lastMonitorData.angles.placeAngle.toFixed(4)}}°</span>
            </span>
            <hr />
            <div data-ng-if="lastMonitorData.resultsBySignalAndAngles">
                <span class="monitor-value">
                    Широта: <span class="badge">{{lastMonitorData.resultsBySignalAndAngles.location.lat.toFixed(4)}}°</span>
                </span>
                <span class="monitor-value">
                    Долгота: <span class="badge">{{lastMonitorData.resultsBySignalAndAngles.location.lon.toFixed(4)}}°</span>
                </span>
                <span class="monitor-value">
                    Давление: <span class="badge">{{lastMonitorData.resultsBySignalAndAngles.location.pressure.toFixed(4)}} Па</span>
                </span>
                <span class="monitor-value">
                    Высота: <span class="badge">{{lastMonitorData.resultsBySignalAndAngles.height.toFixed(4)}} м</span>
                </span>
                <span class="monitor-value">
                    Расстояние: <span class="badge">{{lastMonitorData.resultsBySignalAndAngles.distance.toFixed(4)}} км</span>
                </span>
            </div>
        </div>
        <div data-ng-if="!lastMonitorData.angles">
            <span class="monitor-value alert-danger text-center">
                ДАННЫХ НЕТ!
            </span>
        </div>

        @* Параметры базовой станции*@
        <h1 data-ng-click="toggleBlock('BS')">Базовая станция</h1>
        <div data-ng-if="lastMonitorData.station && isVisibleBlock('BS')">
            <span class="monitor-value">
                Широта: <span class="badge">{{lastMonitorData.station.lat.toFixed(4)}}°</span>
            </span>
            <span class="monitor-value">
                Долгота: <span class="badge">{{lastMonitorData.station.lon.toFixed(4)}}°</span>
            </span>
            <span class="monitor-value">
                Давление: <button class="btn btn-default btn-xs glyphicon glyphicon-edit" ng-click="toggleEditPressure()"></button><span class="badge">{{lastMonitorData.station.pressure.toFixed(4)}} Па</span>
            </span>
            <div class="input-group" style="width: 120px; padding:5px;" data-ng-if="editFSettingsMode == 2">
                <input type="number" data-ng-model="fsettings.pressure" class="form-control" style="width:140px; text-align:right" title="Давление" />
                <div class="input-group-btn">
                    <button class="btn btn-success glyphicon glyphicon-save" ng-click="postPressure()"></button>
                </div>
            </div>
            <span class="monitor-value">
                Высота: <span class="badge">{{lastMonitorData.station.height.toFixed(4)}} м</span>
            </span>
        </div>
        <div data-ng-if="!lastMonitorData.station">
            <span class="monitor-value alert-danger text-center">
                ДАННЫХ НЕТ!
            </span>
        </div>

    </div>
    <div id="map" style="width:100%; height: 100%;">
    </div>
</div>


