﻿.monitor-control {
    position : absolute;
    z-index : 999;
    width : 100%;
    margin-left : 100px;
    padding : 5px;
    padding-right : 140px;
}

.monitor-control .btn-group{
    float: right;
}

.monitor-data {
    position : absolute;
    z-index : 999;
    margin : 5px;
    margin-top : 70px;
    padding : 5px;
    border-radius : 5px;
    color : white;
    background-color : rgba(0,0,0,0.2);
    font-weight : bold;
}


.monitor-dialog {
    position : absolute;
    z-index : 999;
    margin : 5px;
    margin-left: 400px; 
    margin-top : 70px;
    padding : 5px;
    border-radius : 5px;
    color : white;
    background-color : rgba(0,0,0,0.2);
    font-weight : bold;

    width: 400px;
    height: 420px;
}

.monitor-dialog
.dialog-header {
    text-align: center;
    height: 50px;
    border-bottom : 1px solid white;
    padding-bottom : 5px;
}

.monitor-dialog
.dialog-body {
    height: 320px;
}

.monitor-dialog
.dialog-footer {
    text-align: center;
    height: 50px;
    border-top : 1px solid white;
    padding-top : 5px;
}

.monitor-dialog th {
    min-width:200px; 
    text-align: left;
    padding: 5px;   
}

.monitor-dialog td {
    text-align:right;
    width: 100%;
}

.monitor-value {
    width : 200px;
    display : block;
}

.monitor-value .badge {
    float : right; 
    opacity : 0.8;
}

h1 {
    font-size : 14px;
    text-align : center;
    background-color : rgba(0,0,0,0.2);
    padding : 5px;
}

h1:hover
{
    cursor: pointer;
}

.clickable:hover {
    color : lightgray;
    cursor : pointer;
}

.attention {
    background-color : red !important; 
    color : white !important;
}

.attention-warning {
    background-color : rgb(255, 106, 0) !important; 
    color : white !important;
}