﻿@model Exception

<p style="color:red">@Model.Message</p>

@{ 
    var ex = Model.InnerException;  
    while (ex != null)
    {
        <p style="color:red">@ex.Message</p>
        ex = ex.InnerException; 
    }
}
