﻿<!DOCTYPE html>

<html lang="ru" xmlns:ng="http://angularjs.org" class="no-js">
    <head>
        <title>@ViewBag.Title</title>

        <meta charset="utf-8" />

        <link rel="icon" href="@Url.Content("~/favicon.ico")" type="ico">

        @Styles.Render("~/Content/map-css")
    </head>

    <body data-ng-app="BizApp">
        <p id="loading" style="display: none">Загрузка...</p>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <!--Навигационное меню текущего раздела-->
                    <div class="row">
                        <div class="col-xs-12">
                            @RenderSection("header", required: false)
                        </div>
                    </div>

                    <!--Конец навигационного меню текущего раздела-->
                    <!--Контент страницы-->
                    <div class="row">
                        <div class="">
                            <!--Заголовок контента-->
                            <div>
                                @RenderSection("pageHeader", required: false)
                            </div>
                            <!--Конец заголовка контента-->
                            <!--Тело контента-->
                            <div class="col-xs-12">
                                <div data-ng-view>
                                    @RenderBody()
                                </div>
                            </div>
                            <!--конец тела контента-->
                        </div>
                    </div>
                    <!--Конец контента страницы-->
                </div>
            </div>
        </div>

        <div class="container container-footer">
            @RenderSection("footer", required: false)
        </div>

        @Scripts.Render("~/bundles/map-scripts")
        @RenderSection("scripts", required: false)
    </body>
</html>